.fireguard-form {
  .input-upload {
    position: relative;
    float: right;
    top: -34px;
    height: 34px;
    right: 0;
    opacity:0;
    -moz-opacity:0;
    width: 100%;
    z-index: 1000;
  }
}
